.all-comments-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  min-height: 30vh;
}

.comment-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex-grow: 1;
}

.comment-left {
  display: flex;
}

.comment-date {
  color: #999;
  font-size: 12px;
}

.comment-user-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.comment-username a {
  font-size: 12px;
  color: #999;
}

.comment-username a:hover {
  color: #333;
}

.comment-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: -webkit-match-parent;
  color: #333;
}
