html {
  height: 100%;
}

body {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode";
  height: 100%;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#root {
  height: 100%;
}

.root {
  height: 100%;
}
.app {
  height: 100%;
}

.main-content {
  margin-top: 46px;
  height: auto;
  min-height: 100%;
  background: #f2f2f2;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
}

.main-content-box {
  background: #fff;
  width: 1200px;
  padding: 0 30px;
  box-sizing: border-box;
  height: auto;
}

.flexbox {
  display: flex;
}

.default-user-picture {
  background-image: linear-gradient(135deg,#e6846e,#8e8485);
}
