body {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode";
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.app {
}

.main-content {
  margin-top: 46px;
  height: calc(100vh);
  background: #f2f2f2;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-box {
  background: #fff;
  width: 1140px;
  padding: 0 30px;
  height: calc(100vh);
}
