body {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode";
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.app {
}

.main-content {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  background-repeat: repeat-y;
}

.main-content-box {
  background: white;
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}
