.play-controls-box {
  height: 48px;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.play-controls {
  height: 100%;
  display: flex;
  align-items: center;
}

.add-pointer:hover {
  cursor: pointer;
}

.play-control-button {

}

.play {
  outline: none;
  border: none;
  width: 24px;
  height: 48px;
  background: url(https://a-v2.sndcdn.com/assets/images/playback/play-91b117d.svg) no-repeat;
  background-position: center;
}

.pause {
  outline: none;
  border: none;
  width: 24px;
  height: 48px;
  background: url(https://a-v2.sndcdn.com/assets/images/playback/pause-b36fad6.svg) no-repeat;
  background-position: center;
}

.song-progress-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.song-progress-duration {
  color: #f50;
  font-size: 11px;
  margin-right: 10px;
  margin-left: 10px;
}



.song-progress-length {
  margin-left: 10px;
}

.volume-box {
  height: 46px;
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}

.volume-icon {
  width: 24px;
  height: 46px;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-max-2831f71.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.relative {
  position: relative;
}

.volume-groove {
  position: absolute;
  height: 1px;
  width: 70px;
  background-color: #ccc;
  left: 15px;
  top: 1px;
}
.volume {

}

.control-song-info-box {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-song-art {
}

.control-song-art img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 7px;
}

.control-song-title-box {
  display: flex;
  flex-direction: column;
}

.control-song-artist {
  color: #999;
  font-size: 11px;
  line-height: 16px;
}

.control-song-title {
  font-size: 11px;
  color: #666;
  margin-top: 2px;
}

// RANGE SLIDER RESET
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.playback-slider {
  width: 512px;
  position: relative;
}

.playback-slider-track {
  background-color: #ccc;
  height: 1px;
  width: 487px;
  position: absolute;
  top: 12.9px;
  left: 15px;
}

.playback-progress {
  background-color: #f50;
  height: 1px;
  width: 487px;
  position: absolute;
  top: 12.9px;
  left: 15px;
}

//RANGE SLIDER STYLES
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
  margin-top: -3px;
  position: relative;
  z-index: 10;
  top: 0.5px;
}

input[type=range]::-webkit-slider-runnable-track {
  padding: 10px;
  width: 512px;
  height: 1px;
  cursor: pointer;
}

.volume-box {
  width: 118px;
}
