.small-song-box {
  height: 210px;
  width: 819px;
  display: flex;
}

.small-song-art-box {
  width: 160px;
  height: 160px;
}

.small-song-art {

}

.small-song-content {
  width: 644px;
}

.small-song-control-box {
  display: flex;
  flex-direction: row;
}

.small-song-play {

}

.small-song-title-box {

}

.small-song-artist {

}

.small-song-waveform {
  height: 60px;
  box-sizing: border-box;
}

.small-song-social {

}
