.small-song-box {
  height: 210px;
  width: 819px;
  display: flex;
}

.small-song-art-box {
  margin-right: 15px;
}

.small-song-art {
  width: 160px;
  height: 160px;
}

.small-song-content {
  width: 644px;
}

.small-song-control-box {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  margin-bottom: 6px;
}

.small-song-play {
  margin-right: 5px;
  width: 36px;
  height: 36px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDcgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjQ8L3RpdGxlPjxwYXRoIGQ9Ik0wIDEybDEuNjE1LTZMMCAwbDcgNi03IDZ6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f50;
  border-radius: 50%;
}

.small-song-pause {
  margin-right: 5px;
  width: 36px;
  height: 36px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f30;
  border-radius: 50%;
}

.small-song-play:focus {
  background-color: #f30;
}

.small-song-play:hover {
  background-color: #f30;
  cursor: pointer;
}

.small-song-pause:hover {
  background-color: #f30;
  cursor: pointer;
}

.small-song-title-box {

}

.small-song-title {
  color: #333;
  font-size: 15px;
  line-height: 1.2;
}

.small-song-artist {
  color: #999;
  font-size: 12px;
}

.small-song-waveform {
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.7;
  color: #333;
}

.small-song-waveform:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.playing-focus {
  opacity: 1;
}

.small-song-footer {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.small-song-footer-left {
  color: #999;
  font-size: 11px;
  line-height: 12px;
}

.small-song-footer-right {
  color: #999;
  font-size: 11px;
  line-height: 12px;
  display: flex;
}

.small-song-footer-plays {
  margin: 5px 10px 5px 0;
  padding-right: 4px;
}

.small-song-footer-comments {
  margin: 5px 5px 5px 0;
  padding-right: 4px;
}

.small-song-footer-plays::before {
  display: inline-block;
  content: "";
  vertical-align: top;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfcGxheSA0PC90aXRsZT48cGF0aCBkPSJNNCAxM1YzbDkgNS05IDV6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 12px;
  background-size: 16px 16px;
  margin-right: 5px;
}

.small-song-footer-comments::before {
  display: inline-block;
  content: "";
  vertical-align: top;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfY29tbWVudDwvdGl0bGU+PHBhdGggZD0iTTUgM2MtMS4xMDUgMC0yIC44ODctMiAyLjAwNnYyLjk4OEMzIDkuMTAyIDMuODg3IDEwIDUgMTBoNmMxLjEwNSAwIDItLjg4NyAyLTIuMDA2VjUuMDA2QTEuOTk4IDEuOTk4IDAgMCAwIDExIDNINXptMCA3djNsMy0zSDV6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 12px;
  background-size: 16px 16px;
  margin-right: 5px;
}

.small-song-footer-comments:hover {
  cursor: pointer;
  color: #333;
}

.song-title-link {
  color: inherit;
  opacity: 0.9;
}

.song-title-link:hover {
  color: inherit;
  opacity: 1;
}
